header {
    max-width: 1320px;
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(./images/banner.png);
    margin: 50px auto;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.secondary-title {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    padding-top: 185px;
    margin-bottom: 10px;

}

.primary-title {
    font-family: "Merriweather", serif;
    color: #ffffff;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

}

.category {
    max-width: 803px;
    height: 806px;
    margin: 120px auto;
    text-align: center;
}

.discount {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;
}

.discount-description {
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500px;
    color: #FF0000;
    font-family: "Inter", sans-serif;

}

.discount-category {
    color: #070211;
    margin-top: 0px;
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.welcome {
    display: flex;
    max-width: 1320px;
    height: 600px;
    margin: 120px auto;
    background-image: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(./images/Vectorrr.png);
    border-radius: 16px;
    background-repeat: no-repeat;
}

.welcome img {
    height: 465px;
    width: 320px;
    padding-top: 68px;
    padding-right: 138px;
}

.welcome-heading {
    color: #ffffff;
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    max-width: 642px;
    margin-left: 126px;
    margin-top: 126px;
    margin-bottom: 0px;
}

.welcome-description {
    color: #ffffffc2;
    max-width: 697px;
    font-size: 18px;
    margin-left: 126px;
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: "Inter", sans-serif;
}

.welcome-text a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-weight: bold;
    margin-left: 158px;
    margin-top: 48px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

.place {
    background: linear-gradient(to bottom, #ffdede, #ffffff);
    max-width: 1320px;
    height: 482px;
    margin: 120px auto;
    text-align: center;
    border-radius: 16px;
}

.place-text-red {
    font-weight: 600px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #FF0000;
}

.place-text-black {
    color: #070211;

}

.place-name {
    padding-top: 100px;
}

.place-button {
    background-color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    margin-top: 48px;
    color: white;
    border: none;
    padding: 16px 32px;
}

.celebrate {
    display: flex;
    max-width: 1320px;
    height: 463px;
    margin: 120px auto;
}

.left {
    max-width: 393px;
    padding-right: 70px;
}

.left-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
    margin-top: 104px;
    margin-bottom: 0px;

}

.left-heading {
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 0px;

}

.left-description {
    margin-top: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    color: #07021189;

}

.right {
    margin-left: 118px;

}

.right-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    color: #FF0000;
    font-weight: bold;
    margin-top: 112px;
    margin-bottom: 0px;

}

.right-description {
    font-family: "Inter", sans-serif;
    width: 276px;
    font-size: 20px;
    font-weight: 400;
    color: #07021189;
    margin-top: 16px;
    margin-bottom: 43px;

}

.circle-photo {
    height: 463px;
    width: 463px;
    border: 10px solid red;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-photo img {
    height: 365px;
    width: 365px;

}

.right image {
    margin-top: 0px;
    width: 140px;
    height: 140px;
}

.holiday {
    max-width: 1320px;
    margin: 0px auto;
}

.holiday-title {
    margin-top: 120px;
    text-align: center;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #070211;
    margin-bottom: 0px;
}

.holiday-heading1 {
    margin-top: 16px;
    text-align: center;
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #FF0000;
    margin-bottom: 28px;
}

.holiday-heading2 {
    color: #070211;

}

.holiday-description {
    text-align: center;
    max-width: 1068px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #07021189;
    margin: 0 auto;
    padding: 5px;
}

.holiday-image {
    display: flex;
    justify-content: space-between;
}

.holiday-image1 {
    height: 675px;
    width: 578px;
    margin-top: 64px;
    margin-left: 60px;

}

.holiday-image2 {
    height: 306px;
    width: 306px;
    margin-top: 200px;
    margin-right: 40px;

}

.holiday-rec-image {
    position: relative;
    z-index: -1;
    top: -200px;


}

.gift {
    max-width: 1320px;
    margin: 0 auto;
}

.gift-title {
    margin-top: 120px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 0px;
}

.gift-heading {
    margin-top: 16px;
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-bottom: 22px;
}

.gift-description {
    font-weight: 400;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #07021189;
    margin-top: 0px;
}

.gift-image {
    padding: 5px;

}

.subscriber {
    max-width: 1320px;
    height: 616px;
    border-radius: 16px;
    margin: 120px auto;
    background-color: #ff000014;
}

.sub-email {
    margin-top: 80px;
    height: 150px;
    width: 150px;
    margin-bottom: 0px;


}

.sub-image {

    display: flex;
    justify-content: center;
}

.sub-heading {
    margin-top: 40px;
    text-align: center;
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-bottom: 22px;
}

.sub-description {
    text-align: center;
    max-width: 1068px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #07021189;
    margin: 0 auto;
    padding: 5px;
}

input[type="email"] {
    background-color: white;
    width: 438px;
    height: 72px;
    border: none;
    border-radius: 45px 0 0 45px;

}

::placeholder {
    color: #07021130;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.sub-input-btn {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.sub-btn{
    background-color: #FF0000;
    width: 210px;
    height: 74px;
    border: none;
    border-radius: 0 45px 45px 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.footer{
    height: 610px;
    background-color: #070211;
}