.banner{
    max-width: 1320px;
    background-image: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(./images/banner.png);
    margin: 0 auto;
    height: 600px;
    text-align: center;
}
.secondary-title{
    font-family:"Merriweather", serif; 
    color: white;
    font-weight: 400;
    font-size: 32px;
   padding-top: 177px;

}
.main{
    max-width: 1320px;
}
.primary-title {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 72px;
  font-weight: black;
  margin-bottom: 0px;
  
}

