header{
    max-width: 1320px;
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(./images/banner.png);
    margin: 50px auto;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.secondary-title{
    font-family:"Merriweather", serif; 
    color: white;
    font-weight: 400;
    font-size: 32px;
     text-align: center;
     padding-top: 185px;
     margin-bottom: 10px;

}
.primary-title {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 72px;
  font-weight: black;
  margin-top: 0px;
  margin-bottom: 0px;
   text-align: center;
  
}
